:root {
  --color-primary: white;
  --color-secondary: rgb(245, 243, 243);
  --color-tertiary: rgb(245, 70, 7);
  --color-print: rgb(46, 46, 46);
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  color: var(--color-print);
  font-family: "Exo", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
}

li {
  list-style: none;
}

button:hover {
  cursor: pointer;
}

body {
  background: linear-gradient(
    40deg,
    rgba(131, 58, 180, 1) 0%,
    rgba(253, 29, 29, 1) 50%,
    rgba(252, 176, 69, 1) 100%
  );
  padding: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star-icon {
  height: 2rem;
}

.star-favorite-icon {
  height: 2rem;
}

.application {
  width: 100%;
  padding: 1rem;
  background-color: var(--color-secondary);
  border-radius: 10px;
}

/*__________ NAV ______________*/
.nav {
  width: 100%;
  height: 7rem;
  background-color: var(--color-secondary);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
}

.logo {
  font-size: 1.5rem;
  margin-left: 0.4rem;
  font-family: "Lobster", cursive;
  color: var(--color-print);
}

.beer-icon {
  padding: 0.5rem;
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 50%;
  border: 2px solid black;
}

.brew-search-field {
  width: 16rem;
  height: 3rem;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  font-family: "Exo", sans-serif;
  margin-right: 1rem;
  border-radius: 20px;
  border: none;
}

.find-brewery-btn {
  background-color: var(--color-tertiary);
  color: white;
  width: 10rem;
  height: 2.5rem;
  font-size: 1.2rem;
  font-family: "Exo", sans-serif;
  border: none;
  border-radius: 20px;
  border: 2px solid var(--color-print);
  color: white;
  background-color: var(--color-tertiary);
  transition: 0.25s ease-in-out;
}

.find-brewery-btn:hover {
  background-color: var(--color-print);
  color: white;
  border: 1px solid white;
}

.favorites-btn {
  font-size: 1.5rem;
  position: relative;
  margin-right: 0.7rem;
  color: var(--color-tertiary);
  padding: 2.5rem 1rem 2.5rem 3rem;
  border: none;
  background-color: var(--color-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
}

.favorites-list {
  position: absolute;
  display: none;
  z-index: 999;
  top: 10rem;
  right: 4rem;
  width: 25rem;
  background-color: var(--color-primary);
  overflow: hidden;
}

.favorites-container:hover .favorites-list {
  display: block;
}

/*__________ BREWERY - LIST ______________*/

.brewery-display {
  width: 100%;
  height: 50rem;
  background-color: grey;
  display: flex;
}

.breweries {
  width: 35%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-right: 0.3rem solid var(--color-secondary);
  background-color: var(--color-primary);
}

.brewery-list {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brewery-li {
  width: 100%;
  height: 4rem;
  margin-bottom: 0.2rem;
  border: 1px solid white;
  display: flex;
  align-items: center;
}

.brewery-link {
  width: 100%;
  height: 4rem;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  transition: 0.3s ease-out;
}

.brewery-link-title {
  color: var(--color-tertiary);
  font-size: 1rem;
}

.brewery-link-town {
  color: var(--color-print);
}

.brewery-link:hover {
  background-color: var(--color-secondary);
}

.pagination {
  width: 100%;
}

.page-btn-prev {
  float: left;
  margin-left: 0.5rem;
  margin-bottom: 1rem;
}

.page-btn-next {
  float: right;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
}

.page-btn {
  padding: 0.5rem;
  border: none;
  color: var(--color-tertiary);
  background-color: var(--color-secondary);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.arrow-icon {
  height: 1rem;
  margin: 0rem 0.5rem;
  color: var(--color-tertiary);
}

/*__________ BREWERY-FEATURE-BOX ______________*/

.error {
  text-align: center;
  margin-top: 3rem;
  font-size: 1.2rem;
  opacity: 0.7;
}

.brewery-feature {
  width: 65%;
  background-color: var(--color-secondary);
}

.brewery {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.brewery-header {
  width: 100%;
  background-color: var(--color-primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.brewery-feature-title {
  font-size: 2.5rem;
  padding: 0 3rem;
  color: var(--color-tertiary);
}

.brewery-feature-location {
  font-size: 1.4rem;
  margin: 1rem;
}

.add-to-favorites {
  padding: 0.2rem;
  margin: 1rem;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
  border: none;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
}

.brewery-info {
  width: 100%;
  padding: 1rem 0rem;
  background-color: var(--color-secondary);
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.brewery-info-item {
  margin-bottom: 1rem;
}

.brewery-data-text {
  color: var(--color-tertiary);
}

.address-container {
  display: flex;
}
